/* Reset */
@import 'tailwindcss/base';
@import 'reset';

/* Components */
@import 'tailwindcss/components';
@import 'buttons';
@import 'form';

/* Utilities */
@import 'tailwindcss/utilities';


#watermark {
  position: relative;
  top: 500px;
  left: 250px;
  z-index: 1;
}

#pdf-generate {
  position: relative;
  z-index: 2;
  background: transparent;
  max-width: 770px;
}

#pdf-generate-wrapper {
  margin-top: -150px;
  margin-left: -7px;
}