/* Reset */
@import 'tailwindcss/base';
@import 'reset';

/* Components */
@import 'tailwindcss/components';
@import 'buttons';
@import 'form';

/* Utilities */
@import 'tailwindcss/utilities';


#watermark {
  position: relative;
  top: 600px;
  left: 150px;
  z-index: 1;
}

#pdf-generate {
  position: relative;
  z-index: 2;
  background: transparent;
}

#pdf-generate-wrapper {
  margin-top: -230px;
}